@use './variables';

* {
	margin: 0;
	padding: 0;
}

.container-header--footer {
	max-width: 1440px;
	margin: 0 auto;
	padding-right: 80px;
	padding-left: 80px;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

body {
	font-family: 'Roboto', sans-serif;
	color: variables.$color-dark;
}

a {
	text-decoration: none;
	color: variables.$color-light;
}

li {
	list-style: none;
}

.button button {
	border: none;
	outline: none;
	cursor: auto;
}

.button {
	border: none;
	outline: none;
	cursor: auto;
}

button {
	transition: all 0.5s ease;
}

button:active {
	transform: scale(0.8);
}

@media (max-width: 320px) {
	.container-header--footer {
		padding: 0 16px;
	}
}
